html {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.container {
    display: flex;
    background-color: #eeeeee;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}
