html {
    direction: rtl;
    background-color: aquamarine;
}

.header {
    text-align: center;
    background-color: cadetblue;
    height: 200px;
    padding-top: 3%;
}

.posts {
    background-color: blueviolet;
    height: auto;
}

.links {
    font-size: 1.6em;
    margin: 10px;
    color: chocolate;
}

#site_title {
    color: white;
    font-size: 2em;
}

