html {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.sticky-title {
    position: sticky;
    top: 0;
    background-color: #2f4f4f;
    color: white;
    padding: 15px;
}

p {
    padding: 15px;
}
