html {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.header {
    height: 200px;
    background-color: #f0f0f0;
    background-image: url("images/kadoos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    text-align: center;
    padding-top: 20px;
}

h1, h2, p {
    color: #2f4f4f;
}

p {
    padding: 20px;
}

.courses li {
    color: darkgreen;
    font-weight: bold;
    padding: 5px 20px;
}

.courses li:hover {
    background-color: #cce0dd;
}

a {
    color: darkblue;
    padding: 20px;
    display: inline-block;
}

a:hover {
    color: orangered;
}
