html {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.grid-container {
    display: grid;
    background-color: #eeeeee;
}

.box {
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 5px;
}
