html {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

p {
    padding: 10px;
}

.container {
    display: flex;
    background-color: #eeeeee;
    margin-bottom: 20px;
}

.row {
    flex-direction: row; /* also row-reverse */
}

.column {
    flex-direction: column; /* also column-reverse */
}

.box {
    width: 100px;
    height: 100px;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}
